/* these are imports for the font styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* link style */
.nav-link {
  background: none;
  transition: background 0.3s ease;
}
/* link style */
.active-link {
  background: blue;
  color: white;
  border-radius: 20px;
}

/* Default margin for small screens */
.custom-margin {
  margin: 0;
}

/* Custm margin for large screens  */
@media (min-width: 992px) {
  .custom-margin {
    margin: 10rem;
  }
}
/* Custom margin for medium screens */
@media (min-width: 768px) {
  .custom-margin {
    margin: 5rem;
  }
}
